.flex-container 
	display: -webkit-flex;
	display: flex;
	flex-direction: row;
	-webkit-flex-wrap: wrap;
	-moz-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	-o-flex-wrap: wrap;
	flex-wrap: wrap;
	flex-flow: row wrap;
	justify-content: center;
	-webkit-justify-content: center;
	align-items: center;

.catalogy
	display: -webkit-flex;
	display: flex;
	flex-direction: row;
	-webkit-flex-wrap: wrap;
	-moz-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	-o-flex-wrap: wrap;
	flex-wrap: wrap;
	flex-flow: row wrap;
	justify-content: center;
	-webkit-justify-content: center;
	align-items: center;